body {  
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1e1e2f;
    color: #ffff;
}  

.app-container {  
    position: relative;
}  

.toggle-button {  
    position: fixed;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000; 
    padding: 10px;  
    background-color: #1e1e2f;
    border-radius: 10px;
    visibility: hidden;
}

.bar {  
    display: block;  
    width: 30px;  
    height: 3px;  
    background-color: #adb4d6;
    margin: 5px auto;  
    transition: all 0.3s ease;
}  

.sidebar {  
    width: 270px;  
    background-color: #1F233D;
    padding: 20px;
    position: fixed;
    left: 0;  
    top: 0;  
    bottom: 0;  
    transition: transform 0.3s ease;  
    transform: translateX(-100%); 
    height: 100vh;
    overflow-y: scroll;
}  

.sidebar.open {  
    transform: translateZ(0);  
}  

.sidebar.closed {  
    transform: translateX(-100%); 
}  

.logo {  
    font-size: 20px;  
    font-weight: bold;  
    margin-bottom: 20px;  
}  

.section {  
    margin-bottom: 15px;  
    color: #A1A8A5;  
    border-bottom: solid 0.21px #2d3356;  
}  

h3 {  
    font-size: 12px;  
    margin-bottom: 7px;  
    font-weight: bold;  
    color: #4c4f5e;  
}  

ul {  
    list-style-type: none;  
    padding: 0;  
}  

li {  
    padding: 7px; 
    margin-bottom: 2px; 
    cursor: pointer;
    margin-left: 15px; 
    font-size: 12px;
}  

li:hover {  
    background-color: #3a3a4f;  
}  

.active {  
    background-color: #4a4a5f;  
}  

.user {  
    display: flex;  
    align-items: center;  
    margin-top: auto;  
}  

.user-img {
    border-radius: 50%;  
    width: 40px;  
    height: 40px;  
    margin-right: 10px;  
}  

/* Mobile Styles */  
@media (max-width: 898px) {  
    .sidebar {  
        width: 100%; 
        max-width: none;  
        padding: 15px;  
        overflow-y: scroll;
    }  

    h3 {  
        font-size: 16px;   
    }  

    li {  
        padding: 8px;  
    }  

    .user-img {  
        width: 35px; 
        height: 35px; 
    }

    .toggle-button {
        visibility: visible;
    }
}
@media (max-width: 768px) {
    h3 {
        font-size: 20px;
    }

    li {
        font-size: 20px;
    }

    .logo {
        font-size: 60px;
        margin-bottom: 60px;
    }
    
}
