/* THE GENERAL CSS STYLING GOES HERE */

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url("assets/Desktop - 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}