.top-projects {  
    background-color: #1e1e2f96;  
    color: #fff;  
    padding: 3px 0 7px 0;  
    border-radius: 8px;
    width: fit-content;
    min-width: 510px;
    max-width: 400px;
    height: fit-content;
    margin-top: 25px;
  }  
  
  h2 {  
    margin-bottom: 15px;
    padding: 10px 0 5px 5px; 
    margin-left: 3px; 
    font-size: 15px;
  }  
  
  table {  
    width: 100%;
    border-collapse: collapse;  
    font-size: 12px;
  }  
  
  th, td {  
    padding: 6px;  
    text-align: left;
    font-size: 12px;
  }  
  
  th {  
    background-color: #26263cbb;
    color: #852D2D;
  }  
  
  tr:nth-child(even) {  
    background-color: #26263cbb;  
  }  
  
  tr:hover {  
    background-color: #26263cbb;  
  }




  @media (max-width: 898px) {
    .top-projects {
        padding: 0 6px 10px 10px;
        width: 100%;
        height: fit-content;
        margin-top: 20px;

    }
    table {
      font-size: 1px;
    }

    th {  
      font-size: 12px;
  }
}

@media (max-width: 435px) {
  .top-projects {
      min-width: 355px;
      max-width: 200px;
  }
  
}

@media (max-width: 398px) {
  .top-projects {
      min-width: 355px;
      max-width: 200px;
  }
  
}


@media (max-width: 378px) {
  .top-projects {
      min-width: 360px;
      max-width: 200px;
  }
  
}


@media (max-width: 320px) {
  .top-projects {
      min-width: 318px;
      max-width: 200px;
  }
  
}